body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    color: #222;
}

header {
    background-color: #FFD700; /* żółty pas */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #FF4500; /* pomarańczowy */
    color: #fff;
    font-weight: bold;
}

nav button:hover {
    background-color: #FF6347;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1E90FF; /* niebieski pas */
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
